<form [formGroup]="formDetails" (ngSubmit)="verfiyPassword()">
  <div>
    <label for="resetCode">Reset Code:</label>
    <input
      type="text"
      name="resetCode"
      id="resetCode"
      formControlName="resetCode"
      class="form-control"
      [ngClass]="{
        'is-valid': formDetails.get('resetCode')?.valid,
        'is-invalid':
          formDetails.get('resetCode')?.touched && formDetails.get('resetCode')?.invalid
      }"
      #resetCode
    />
  </div>
  <div
  class="alert alert-danger"
  *ngIf="
    formDetails.get('resetCode')?.errors &&
    (formDetails.get('resetCode')?.touched || resetCode.value.length > 0)
  "
>
  <p *ngIf="formDetails.get('resetCode')?.getError('required')">
    Reset Code is Required
  </p>
  <p *ngIf="formDetails.get('resetCode')?.getError('pattern')">Reset Code is In Valid "six numbers"</p>
</div>
<button [disabled]="formDetails.invalid" class="btn-main ms-auto d-block mt-3">
  <i class="fas fa-spinner fa-spin" *ngIf="spin"></i>
Reset Password
</button>
<p class="alert  text-center mt-3 " *ngIf="msg" [ngClass]="{'alert-danger':flag == false,'alert-success':flag == true}">{{ msg }}</p>
</form>
