<form [formGroup]="formDetails" (ngSubmit)="resetNewPassword()">
  <div>
    <label for="email">Email:</label>
    <input
      type="email"
      name="email"
      id="email"
      formControlName="email"
      class="form-control"
      [ngClass]="{
        'is-valid': formDetails.get('email')?.valid,
        'is-invalid':
          formDetails.get('email')?.touched && formDetails.get('email')?.invalid
      }"
      #emailInput
    />
  </div>
  <div
  class="alert alert-danger"
  *ngIf="
    formDetails.get('email')?.errors &&
    (formDetails.get('email')?.touched || emailInput.value.length > 0)
  "
>
  <p *ngIf="formDetails.get('email')?.getError('required')">
    Email is Required
  </p>
  <p *ngIf="formDetails.get('email')?.getError('email')">Email is In Valid</p>
</div>
<div class="mb-2">
  <label for="userPassword" class="text-capitalize">New Password:</label>
  <input
  #passwordInput
    type="password"
    id="userPassword"
    class="form-control"
    formControlName="newPassword"
    [ngClass]="{
      'is-valid': formDetails.get('newPassword')?.valid,
      'is-invalid':
        formDetails.get('newPassword')?.touched &&
        formDetails.get('newPassword')?.invalid
    }"
  />
</div>
<div
  class="alert alert-danger"
  *ngIf="
    formDetails.get('newPassword')?.errors &&(formDetails.get('newPassword')?.touched || passwordInput.value.length>0)

  "
>
  <p *ngIf="formDetails.get('newPassword')?.getError('required')">
    password is Required
  </p>
  <p *ngIf="formDetails.get('newPassword')?.getError('pattern')">
    password must start with upperCase then from 6 to 10
  </p>
</div>



<button [disabled]="formDetails.invalid" class="btn-main ms-auto d-block mt-3">
  <i class="fas fa-spinner fa-spin" *ngIf="spin"></i>
Reset Password
</button>
<p class="alert  text-center mt-3 " *ngIf="msg" [ngClass]="{'alert-danger':flag == false,'alert-success':flag == true}">{{ msg }}</p>
</form>
